<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
		PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<package name="src.main.java.ssm.github.io.pojo"/>
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver"/>
				<property name="url" value="jdbc:mysql:///mybatis?useSSL=false"/>
				<property name="username" value="root"/>
				<property name="password" value="LIU18959297292"/>
			</dataSource>
		</environment>
		<environment id="test">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver"/>
				<property name="url" value="jdbc:mysql:///study002JDBC?useSSL=false"/>
				<property name="username" value="root"/>
				<property name="password" value="LIU18959297292"/>
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<package name="src.main.java.ssm.github.io.mapper"/>
		<!--这里直接用包扫描的方式，就可以一次性加载所有的mapper进来-->
	</mappers>
</configuration>
