<!DOCTYPE web-app PUBLIC
		"-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
		"http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>show1</servlet-name>
		<!--这里是servlet注解中的路径名-->
		<servlet-class>demo.showMe</servlet-class>
		<!--这里要写文件的名称-->
	</servlet>
	<servlet-mapping>
		<servlet-name>show1</servlet-name>
		<!--注解中的路径名称-->
		<url-pattern>/show1</url-pattern>
		<!--这里是具体的访问路径，就是我们注解中的urlPattern-->
	</servlet-mapping>

</web-app>
